/**
 *
 */
$font-family-sans-serif: "Mulish", Arial, sans-serif;
$font-size-base: 0.875rem;

/**
 *
 */
$card-cap-bg: #f8f9fa;

/**
 *
 */
$input-btn-padding-y: .56rem;
$input-btn-padding-x: .75rem;

/**
 *
 */
$offcanvas-vertical-height: 50vh;

/**
 *
 */
$swal2-font-size: $font-size-base;

/**
 *
 */
$sidebar-width: 280px;
$sidebar-background-color: #212529;
